$danger: #cf350a;
body {
  box-sizing: border-box;
  font-family: "Monttserrat", sans-serif;
  background-color: #00c46c;
}

.container {
  max-width: 900px;
  padding: 0 15px;
  margin: 0 auto;
}

.l-flex {
  display: flex;
}

.l-flex--row {
  flex-direction: row;
}

.l-flex--column {
  flex-direction: column;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
}

.btn--group--column {
  flex-direction: column;
}

.btn-group--items-between {
  justify-content: space-between;
}

.inp {
  box-sizing: border-box;
  padding: 5px;
  border: none;
  border-bottom: 2px solid black;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 1px;
  background-color: transparent;
}

.inp--width {
  width: 95%;
}

.inp[placeholder] {
  color: black;
  font-size: 17px;
}

.btn {
  font-family: "Monttserrat", sans-serif;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
  transition: ease-in-out 0.5s;
}

.btn:hover {
  background-color: black;
  color: #fff;
}

.btn--danger {
  color: $danger;
}

.btn--default {
  border: 2px solid black;
  padding: 5px 0px;
}

.btn--rounded {
  border-radius: 5px;
}

.btn--width {
  width: 100%;
}

.btn--middle {
  width: 50%;
}

.btn--small {
  width: 23%;
}
